body {
  background-color: blue;
  color: white;
  font-size: small;
}
p {
  background: rgb(235, 183, 10);
  width: 50%;
}

a {
  background: yellow;
}

h1 {
  background: purple;
  padding: 30px;
  margin: 50px;