div {
  background-color: rgb(43, 49, 224);
  width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  top: 40%;
  height: 300px;
}
img {
  position: absolute;
  left: 50%;
  transform: translateZ(-50%);
  width: 40px;
  border-radius: 50px;
  size: 40px;
}
